<div class="dashboard-wrapper">
    <div class="sidebar" *ngIf="sidebarOpen">
        <app-dashboard-sidebar [type]="sidebarType" (clickedOff)="sidebarOpen = false"></app-dashboard-sidebar>
    </div>
    <div class="header">
        <mat-select class="dashboard-select" [(value)]="currentDashboard" (selectionChange)="selectDashboard($event)">
            <mat-option *ngFor="let dashboard of dashboards" [value]="dashboard">
                {{dashboard.title}}
            </mat-option>
        </mat-select>
    </div>
    <div class="toolbar">
        <app-create-dashboard class="new-dashboard" *ngIf="creatingDashboard" (closed)="creatingDashboard = false">
        </app-create-dashboard>
        <img class="logo" src="assets/logo.png"/>
        <button mat-icon-button (click)="creatingDashboard = !creatingDashboard" class="new-dashboard-button">
            <mat-icon>add_circle_outline</mat-icon>
        </button>
        <div class="go-to-date-button">
            <input hidden [value]="currentDate" (dateChange)="goToDate($event)" [matDatepicker]="picker">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </div>
    </div>
    <so-timeline [tasks]="tasks" [date]="currentDate" [scale]="timelineScale" (scaleIncreased)="zoomIn($event)">
    </so-timeline>
    <div class="zoom-buttons">
        <button mat-fab color="primary" [disabled]="timelineScale === 0" (click)="zoomIn()">
            <mat-icon>zoom_in</mat-icon>
        </button>
        <button mat-fab color="primary" [disabled]="timelineScale === 3" (click)="zoomOut()">
            <mat-icon>zoom_out</mat-icon>
        </button>
    </div>
    <button class="create-task-button" color="primary" mat-fab (click)="openCreateSidebar()">
        <mat-icon>add</mat-icon>
    </button>
</div>