<div class="dashboard-wrapper">
    <div class="header">
        <so-dashboard-selection [dashboards]="(dashboards$ | async) || []" [selectedDashboard]="currentDashboard$ | async"
            (newDashboardTitle)="createDashboard($event)" (selectDashboard)="selectDashboard($event)">
        </so-dashboard-selection>
    </div>
    <div class="toolbar">
        <img class="logo" src="assets/logo.png"/>
        <div class="go-to-date-button">
            <input hidden [value]="currentDate" (dateChange)="goToDate($event)" [matDatepicker]="picker">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </div>
    </div>
    <so-timeline 
            [date]="currentDate" 
            [scale]="timelineScale"
            [tasks]="(tasks$ | async) || []"
            (blockClicked)="displayTask($event)" 
            (scaleIncreased)="zoomIn($event)"
    >
    </so-timeline>
    <div class="zoom-buttons">
        <button mat-fab color="primary" [disabled]="timelineScale === 0" (click)="zoomIn()">
            <mat-icon>zoom_in</mat-icon>
        </button>
        <button mat-fab color="primary" [disabled]="timelineScale === 3" (click)="zoomOut()">
            <mat-icon>zoom_out</mat-icon>
        </button>
    </div>
    <button class="create-task-button" color="primary" mat-fab (click)="openCreateSidebar()">
        <mat-icon>add</mat-icon>
    </button>
    <div [ngSwitch]="sidebarType$ | async">
        <so-sidebar class="sidebar" *ngSwitchCase="createSidebar" (closed)="closeSidebar()">
            <so-task-form 
                    (cancel)="closeSidebar()"
                    (submitted)="createTask($event)"
                    [initialValue]="null"
                    [edit]="false"
            >
            </so-task-form>
        </so-sidebar>
        <so-sidebar class="sidebar" *ngSwitchCase="displaySidebar" (closed)="closeSidebar()">
            <so-task-info></so-task-info>
        </so-sidebar>
        <so-sidebar class="sidebar" *ngSwitchCase="editSidebar" (closed)="closeSidebar()">
            <so-task-form
                    [initialValue]="taskToUpdate$ | async" 
                    (submitted)="updateTask($event)" 
                    (cancel)="closeSidebar()" 
                    [edit]="true"
            >
            </so-task-form>
        </so-sidebar>
    </div>
</div>