<div class="task-info-wrapper">
    <button mat-icon-button class="go-back-button" (click)="goBack.emit()">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <h2>{{ taskBlock.task.title }}</h2>
    <div *ngIf="taskBlock.task.description" class="task-info-item">
        <h3>Description:</h3>
        <p>{{ taskBlock.task.description }}</p>
    </div>
    <div class="task-info-item">
        <h3>Starts:</h3>
        <p>{{ taskBlock.taskCompletion.start | date: 'medium'}}</p>
    </div>
    <div class="task-info-item">
        <h3>Ends:</h3>
        <p>{{ taskBlock.taskCompletion.end | date: 'medium'}}</p>
    </div>
    <div class="task-info-item">
        <h3>Status:</h3>
        <p>{{getBlockStatus()}}</p>
    </div>
    <div class="task-info-item">
        <h3>Last edited:</h3>
        <p>{{ taskBlock.taskCompletion.lastEdited | date: 'medium'}}</p>
    </div>
    <div class="buttons">
        <button *ngIf="!taskBlock.taskCompletion.isSuccessful" mat-flat-button
                class="mark-completed-button" color="primary" (click)="markAsCompleted()">
                Mark as completed
        </button>
        <button (click)="edit()" mat-flat-button color="primary" class="edit-button">
            <mat-icon>edit</mat-icon>
            Edit
        </button>
        <button mat-flat-button color="warn" class="delete-button" (click)="delete()">
            <mat-icon>delete</mat-icon>
            Delete
        </button>
    </div>
</div>