<div class="task-info-wrapper" *ngIf="taskBlock$ | async as taskBlock">
    <button mat-icon-button class="go-back-button" (click)="close()">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <h2>{{ taskBlock.task.title }}</h2>
    <div *ngIf="taskBlock.task.description" class="task-info-item">
        <h3 i18n>Description:</h3>
        <p>{{ taskBlock.task.description }}</p>
    </div>
    <div class="task-info-item">
        <h3 i18n>Starts:</h3>
        <p>{{ taskBlock.taskCompletion.start | date: 'medium'}}</p>
    </div>
    <div class="task-info-item">
        <h3 i18n>Ends:</h3>
        <p>{{ taskBlock.taskCompletion.end | date: 'medium'}}</p>
    </div>
    <div class="task-info-item">
        <h3 i18n>Status:</h3>
        <p [ngSwitch]="taskBlock.status">
            <ng-container i18n *ngSwitchCase="TaskStatus.Completed">Completed</ng-container>
            <ng-container i18n *ngSwitchCase="TaskStatus.Failed">Failed</ng-container>
            <ng-container i18n *ngSwitchCase="TaskStatus.InProgress">In progress</ng-container>
            <ng-container i18n *ngSwitchCase="TaskStatus.ToDo">To do</ng-container>
        </p>
    </div>
    <div class="task-info-item">
        <h3 i18n>Last edited:</h3>
        <p>{{ taskBlock.taskCompletion.lastEdited | date: 'medium'}}</p>
    </div>
    <div class="buttons">
        <button i18n *ngIf="!taskBlock.taskCompletion.isSuccessful" mat-flat-button
                class="mark-completed-button" color="primary" (click)="markAsCompleted()">
                Mark as completed
        </button>
        <button i18n (click)="edit()" mat-flat-button color="primary" class="edit-button">
            <mat-icon>edit</mat-icon>
            Edit
        </button>
        <button i18n *ngIf="!taskBlock.taskCompletion.isExported" mat-flat-button
                class="mark-completed-button" color="primary" (click)="exportTask()"
                [disabled]="!(hasCalendar$ | async)">
                Export
        </button>
        <button i18n mat-flat-button color="warn" class="delete-button" (click)="delete()">
            <mat-icon>delete</mat-icon>
            Delete
        </button>
    </div>
</div>