<form [formGroup]="resetPassowordGroup" class="reset-password-wrapper">
    <h1 i18n>Reset your password</h1>
    <mat-form-field>
        <mat-label i18n>Password</mat-label>
        <input formControlName="password" matInput type="password"/>
        <mat-error i18n *ngIf="!resetPassowordGroup.get('password')?.hasError('pattern') && hasLengthErrors('password')">
            Must be 8 to 16 characters
        </mat-error>
        <mat-error i18n *ngIf="resetPassowordGroup.get('password')?.hasError('pattern')">
            Must contain letters and numbers
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label i18n>Repeat password</mat-label>
        <input formControlName="repeatPassword" matInput type="password"/>
        <mat-error i18n *ngIf="resetPassowordGroup.get('repeatPassword')?.hasError('passwordMismatch')">
            Passwords must match
        </mat-error>
    </mat-form-field>
    <button i18n mat-flat-button color="primary" class="submit-button" (click)="resetPassword()" [disabled]="!resetPassowordGroup.valid">
        Submit
    </button>
</form>
