<div class="verify-email-wrapper">
    <h1 i18n>Verify your email</h1>
    <h3 i18n>An email with verification code has been sent to your email. Enter it to start using the application</h3>
    <mat-form-field class="code-field">
        <input [formControl]="codeControl" matInput type="number"/>
        <mat-error *ngIf="codeControl.hasError('invalidCode')" i18n>Invalid code</mat-error>
    </mat-form-field>
    <button i18n class="submit-button" [disabled]="!codeControl.valid" mat-flat-button color="primary" (click)="submit()">Submit</button>
    <p i18n class="resend-link" (click)="sendCode()">Send again</p>
</div>
