<form class="password-update-wrapper" [formGroup]="passwordUpdateGroup">
    <mat-form-field>
        <mat-label i18n>Old password</mat-label>
        <input formControlName="oldPassword" matInput type="password"/>
        <mat-error i18n *ngIf="passwordUpdateGroup.get('oldPassword')?.hasError('incorrectPassword')">
            Incorrect password
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label i18n>Password</mat-label>
        <input formControlName="password" matInput type="password"/>
        <mat-error i18n *ngIf="!passwordUpdateGroup.get('password')?.hasError('pattern') && hasLengthErrors('password')">
            Must be 8 to 16 characters
        </mat-error>
        <mat-error i18n *ngIf="passwordUpdateGroup.get('password')?.hasError('pattern')">
            Must contain letters and numbers
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label i18n>Repeat password</mat-label>
        <input formControlName="repeatPassword" matInput type="password"/>
        <mat-error i18n *ngIf="passwordUpdateGroup.get('repeatPassword')?.hasError('passwordMismatch')">
            Passwords must match
        </mat-error>
    </mat-form-field>
    <button i18n class="save-button" mat-flat-button color="primary"
            [disabled]="!passwordUpdateGroup.valid" (click)="resetPassword()"
    >
        Save
    </button>
</form>