@import 'src/styles/color-variables'

.timeline-scrolling-wrapper
    width: 100%
    width: 100%
    height: 100%
    overflow-x: scroll

    &::-webkit-scrollbar
        display: none

.timeline-container
    width: 100%
    height: 100%
    display: grid
    grid-template-rows: 30px 30px repeat(6, 1fr)
    row-gap: 10px
    position: relative

    .subsections-container, .sections-container
        grid-column: 1
        display: grid

        .timeline-section
            display: grid
            grid-template-rows: 30px 1fr
            text-align: center
            z-index: 1

            p
                cursor: pointer

    .sections-container
        grid-row: 1

    .subsections-container
        grid-row: 2 / 11

        .timeline-section
            border-right: 1px solid black

    .timeline-row
        grid-column: 1
        display: grid
        grid-template-rows: 1fr

    .task-block
        background-color: $light-blue
        display: grid
        grid-row: 1
        place-items: center
        text-align: center
        z-index: 2
    
    .left-more-button, .right-more-button
        position: absolute
        top: 50%
        bottom: 50%
        z-index: 5

    .left-more-button
        left: 0

    .right-more-button
        right: 0