<div class="timeline-scrolling-wrapper" #timelineScroll>
    <div class="timeline-container" [ngStyle]="{'width': 100 * pageNumber + '%'}">
        <button class="left-more-button" mat-fab color="primary" (click)="loadMore(true)">
            <mat-icon>chevron_left</mat-icon>
        </button>
        <div class="sections-container"
            [ngStyle]="{'grid-template-columns' : 'repeat(' + pageColumnNumber * pageNumber + ', 1fr'}">
            <div class="timeline-section" *ngFor="let section of timelineSections; index as i"
                [ngStyle]="{'grid-column': getColumn(section.start) + '/' + getColumn(section.end)}">
                {{getSectionTitle(section)}}
            </div>
        </div>
        <div class="subsections-container"
            [ngStyle]="{'grid-template-columns' : 'repeat(' + pageColumnNumber * pageNumber + ', 1fr'}">
            <div class="timeline-section" *ngFor="let subsection of timelineSubsections; index as i"
                [ngStyle]="{'grid-column': getColumn(subsection.start) + '/' + getColumn(subsection.end)}">
                <p (click)="increaseScale(timelineSubsections[i])">
                    {{getSubsectionTitle(subsection)}}
                </p>
            </div>
        </div>
        <div class="timeline-row" *ngFor="let taskRow of tasksByRows; index as i"
            [ngStyle]="{'grid-template-columns' : 'repeat(' + pageColumnNumber * pageNumber + ', 1fr', 'grid-row': i+3}">
            <div class="task-block" *ngFor="let task of tasksByRows[i]"
                [ngStyle]="{'grid-column': getColumn(task.start) + '/' + getColumn(task.end)}">
                {{task.title}}
            </div>
        </div>
        <div class="timeline-row"
            [ngStyle]="{'grid-template-columns' : 'repeat(' + pageColumnNumber * pageNumber + ', 1fr', 'grid-row': 8 }">
            <div class="task-block" *ngFor="let block of exceedingTaskBlocks"
                [ngStyle]="{'grid-column': getColumn(getBlockStart(block)) + '/' + getColumn(getBlockEnd(block))}">
                <div *ngIf="block.length > 1" (click)="openExceedingTasks(block)">
                    {{ block.length }} more
                </div>
                <div *ngIf="block.length === 1">
                    {{block[0].title}}
                </div>
            </div>
        </div>
        <button class="right-more-button" mat-fab color="primary" (click)="loadMore(false)">
            <mat-icon>chevron_right</mat-icon>
        </button>
    </div>
</div>