<div class="profile-wrapper">
    <h1>Profile</h1>
    <mat-tab-group>
        <mat-tab label="Personal">
            <ng-container *ngIf="(user$ | async) as user">
                <so-personal-info
                    [user]="user"
                    (avatarUpdated)="updateAvatar($event)"
                    (firstNameUpdated)="updateFirstName($event)"
                    (lastNameUpdated)="updateLastName($event)"
                >
                </so-personal-info>
            </ng-container>
        </mat-tab>
        <mat-tab label="Password">
            <so-password-update
                [incorrectPassword]="incorrectPassword$ | async"
                (updatePassword)="updatePassword($event)"
            >
            </so-password-update>
        </mat-tab>
    </mat-tab-group>
</div>
