<form class="enter-email-wrapper">
    <h1 i18n>Password recovery</h1>
    <h2 i18n>In order to reset your password, follow the link that will be sent to your email</h2>
    <mat-form-field class="email-field">
        <mat-label>Enter your email</mat-label>
        <input [formControl]="emailControl" matInput type="text">
        <mat-error *ngIf="emailControl.hasError('email')" i18n>
            Invalid email address
        </mat-error>
    </mat-form-field>
    <button i18n mat-flat-button color="primary" class="submit-button" (click)="submitClick()" [disabled]="!emailControl.valid">
        Submit
    </button>
</form>